<main class='main_center'>
  <div class="explanation">
    <h4>FishingShreについて</h4>
    <p>FishingShreは釣り情報を共有するサービスです。</p>
    <p>釣りへ出かける前に、その場所では、どんな魚が釣れているか。天気、潮の状況などの情報を元に分析し、釣果UPにつなげてみましょう。</p>
    <p>また、大物を釣り上げた、爆釣した等の釣り人達だからこそ盛り上がる情報を共有し、楽しむのもありですね♪</p>
    <p>魅力的な投稿や、人気のユーザーは、サイトトップページに、ランキングとして表示されるため、上位を目指して積極的に利用してみてください。</p>
    <img src="https://1.bp.blogspot.com/-Lcq1ge7bJ50/Wa8-q1MDx5I/AAAAAAABGhE/Aba7sOBhI0cYg4FoYk8g7An5pMHjKM3IwCLcBGAs/s800/fishing_man.png" alt="釣りイラスト" >
  </div>
  <div class="sign_up_link">
    <%= link_to "今すぐ登録する！", new_user_registration_path, class: "round_btn_orange" %>
  </div>
</main>
