<main class="main_continuer">
  <form class="search_form">
    <%= form_with url: boards_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :keyword, placeholder: "キーワード" %>
      <%= f.submit "検索" %>
    <% end %>
  </form>
  <%= render partial: "shared/related_posts", collection: @boards, as: "board" %>
</main>
